/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #d5d8e1;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

h1, h2 {
    margin-bottom: 16px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #282b38;
    height: 80px;
    color: #fff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.highlight {
    color: rgb(54,188,160);
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(54,188,160);
}

.header {
    background-color: rgba(53,57,74,255);
    height: 400px;
    color: #fff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
}

.header img {
    max-width: 300px;
    border-radius: 50%;
    border: 2px solid rgb(54,188,160);
}

.services .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services .box {
    background-color: rgba(40,43,56,255);
    color: #fff;
    margin: 20px 10px;
    padding: 15px 20px;
    border-radius: 10px;
}

.services h2 {
    color: rgb(54,188,160);
}

.services .box i {
    margin-right: 10px;
}

.footer {
    background-color: rgba(40,43,56,255);
    height: 80px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer .footer-text {
    padding: 20px 0;
    text-align: center;
}

.footer h2 {
    font-size: 18px;
    font-weight: bold;
}

@media(max-width: 786px) {
    .header {
        height: auto;
    }
    .header .container {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .services .container {
        display: block;
    }
}